*{
    box-sizing: border-box;
}


html {

    background: url(images/yummy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
  
  .nav-bar{
    background-color: rgb(71, 37, 37);
    text-align: right;
    overflow: hidden;
}


.nav-bar a:hover{
    color: skyblue;

}
.nav-bar .icon {
    display: none;
  }
 
h1{
    font-family: 'Concert One', cursive;
     font-size:70px;
     color: #8B0000;
}



p{
    font-size: 25px;
    color:#FFD700;
    font-family: 'Concert One', cursive;
    
}
 
   
ul{
    list-style-type: none;
    margin: 0;
    padding-top: 0;

}

li{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    margin: 15px;
}
.dropdown:hover .dropdown-content{
    display: inline-block;
}

.dropdown-content {
    display: none;
    color: yellow;
     }
li a {
    color: yellow;
    text-decoration: none;
}
p.slogan{
    color:white;
    font-family: 'Parisienne', cursive;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
    .row::after {
        content: "";
        clear: both;
        display: table;
      }
      
      [class*="col-"] {
        float: right;
        padding: 15px;
      }
      
  
a.email{
    text-decoration: none;
}
hr{
    border-style: solid;
}

img{
    border-radius: 50%;
    max-width: 50%;
    height:90px;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 25px;
    font-weight: bolder;
    font-family:'Concert One', cursive;
    max-width: 100%;
    text-align: center;
}




 
