*{
    box-sizing: border-box;
    
}


body {
    background-image: url(/cj\'sfood.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
   
    
  
  }
  
  .nav-bar{
    background-color: rgb(71, 37, 37);
    text-align: right;
    overflow: hidden;
   
}


.nav-bar a:hover{
    color: skyblue;

}
.nav-bar .icon {
    display: none;
  }
 
h1{
    font-family: 'Concert One', cursive;
     font-size:70px;
     color: #8B0000;
}

#about{
    position: absolute;
    left: 800px;
    top: 23%;
    max-width: 100%;
   
}
p{
    font-size: 25px;
    color:#FFD700;
}
 #middle{
    position: relative;
    top: 10px;
   max-width: 50%;
    text-align:center;
}
#middle a:hover{
    background-color: #2F4F4F;
}
   
ul{
    list-style-type: none;
    margin: 0;
    padding-top: 0;

}

li{
    display: inline-block;
    padding: 15px;
    font-size:25px ;
    color: yellow;
    
}
.dropdown:hover .dropdown-content 
    display: block;
  }
.dropdown-content {
    display: none;
    }
li a {

    text-decoration: none;
 }
  #middle a{
    border-style: solid;
    border-width: 5px;
    border-color: orange;
    border-radius: 15px;
    background: whitesmoke;
    padding: 5px 70px;
    color:black;
    text-decoration: none;
    font-weight: lighter;
    font-family: 'Archivo Black', sans-serif;
    font-size: 25px;
  }
  p.slogan{
    color:white;
    font-family: 'Parisienne', cursive;
    font-size: 28px;
    font-weight: bold;
}
a.email{
    text-decoration: none;
}
hr{
    border-style: solid;
}

img{
    border-radius: 50%;
    max-width: 100%;
    height:auto;
}
#end{
    position: absolute;
    padding: 30%;
    max-width: 100%;
    font-size: 25px;
    font-weight: bold;

}
 
